img {
  height: 1%px;
  width: 40%;
  padding-top: 5%;
  padding-left: 20%;

}

hr {
  border-top: 10px dotted;
  border-bottom: 0;
  width: 100%;
  border-style: dotted;
  color: #476072;
}

body {
  background-color:#DEEDF0;

}

p {
  color:#91091E;
  font-size: 30px;
  font-family: cursive;

}

h1 {
  color: #91091E;
  text-align: center;


}

h2 {
  color:#91091E;
  text-align: center;
}
table{
  padding-left: 30px;
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.num{
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
}
button{
  position: absolute;
  left: 80%;
  font-size: 40px;
  font-family: fantasy;

}
.bold{
  font-size: 60px;
}
